@charset "utf-8";
/* ==========================================================================
 CSS Reset
 ========================================================================== */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;margin:1em 0;padding:0;border:0;border-top:1px solid #ccc}
button,input,select,textarea{margin:0;outline:0!important}
button,input,select{vertical-align:middle}

@mixin hover() {
  &:hover,
  &:focus,
  &:active { @content }
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

/* ==========================================================================
 Global Styling
 ========================================================================== */
$height: 100vh;
$width: 100vw;

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
	height: 100vh;
	font-size: 62.5%;
}

body {
	min-height: 100%;
	font-size: 1.6rem;
	font-family: 'Mukta', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #FFF;
	color: #333;

	// smooths type in all browsers
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

	@media all and (min-width: 70rem) {
		font-size: 2.1rem;
	}
}

img {
	border: 0;
	display: block;
	max-width: 100%;
}

h1, h2, h3 {
	margin: 0 0 0.5rem 0;
	padding: 0;
	line-height: 1.05;
	font-weight: 700;
}

h1 {
	font-size: 2.8rem;
	@media all and (min-width: 65rem) {
		font-size: 5.2rem;
	}
}

h2 {
	font-size: 2.8rem;
	@media all and (min-width: 65rem) {
		font-size: 4.8rem;
	}
}

h3 { font-size: 2.8rem; }

h4 {
	font-size: 2.1rem;
	line-height: 1.25;
}

h5 { font-size: 2rem; }
h6 { font-size: 2rem; }


sup, sub { font-size: 0.7rem; }

sup { vertical-align: super; }
sub { vertical-align: sub; }

b, strong {
	font-weight: bold;
	font-weight: 600;
}

i, em { font-style: italic; }

hr {
	width: 100%;
	height: 1px;
	border: 0;
	background-color: #DDD;
}

svg {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	 //css snap point magic
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-points-y: repeat($height);
	scroll-snap-type: mandatory;
	//for chrome 69+
	scroll-snap-type: y mandatory;

	-webkit-overflow-scrolling: touch;

	@media all and (min-width: 70rem) {
		flex-direction: column;
		 //css snap point magic
		overflow-x: hidden;
		overflow-y: auto;
		scroll-snap-points-y: repeat($height);
		scroll-snap-type: mandatory;
		//for chrome 69+
		scroll-snap-type: y mandatory;
	}
}

section {
	height: $height;
	width: $width;
	flex: 1 0 $height;
	font-size: 1.8rem;
	scroll-snap-coordinate: 50% 50%;
	scroll-snap-align: center;

	@media all and (min-width: 70rem) {
		flex: 1 0 $height;
		font-size: 2.1rem;
	}


}

#cover {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 3rem;

	background-image: url("../work/images/ryoung-working.jpg");
	background-size: cover;
	background-position: center top;
    background-color: lightsteelblue;
    background-blend-mode: soft-light;

    @media all and (min-width: 70rem) {
    	padding: 6rem;
    }
	
	h1 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		span { display: block; }

		#name { margin-right: 4.5rem; }
		
		.txt-small {
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: 800;

			&:first-child {
				flex: 1 0 100%;
				width: 100%;
				font-size: 1.4rem;
				margin-bottom: 0.5rem;
			}

			&:last-child {
				margin-top: 0.5rem;
			}
		}
	}

	@media all and (min-width: 65rem) {
		justify-content: center;
		padding-bottom: 3rem;
		padding-top: 15rem;
	}
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.sub_section {
	position: relative;
	z-index: 2;
	color: white;
	box-shadow: 0px -5px 20px rgba(black,0.5);

	background-repeat: no-repeat;
	background-size: cover;

	a {
		position: relative;
		overflow: hidden;
		z-index: 10;
		text-decoration: none;
		color: #FFF;
		height: 100%;
		display: flex;
		align-items: flex-start;
		padding: 3rem;

		@media all and (min-width: 70rem) {
			align-items: center;
			padding: 6rem;
		}
	}

	.project_desc {
		h2 { margin-bottom: 1.5rem; }
		width: 75%;
		text-shadow: 2px 4px 8px rgba(0,0,0,0.35);
	}


	&.tr {
		background-repeat: no-repeat;
		background-image: url("../work/images/tr-bg.jpg");
		background-position: left center;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: black;
			opacity: 0.75;
			z-index: 0;
		}
	}
		
	&.af {
		background-repeat: no-repeat;
		background-image: url("../work/images/af-bg.jpg");
		background-position: left;

		@media all and (min-width: 70rem) {
			background-position: right center;
		}

		a:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 6rem;
			right: 3rem;
			height: 8rem;
			width: 26rem;
			background-image: url("../work/images/af-logo.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 0;

			@media all and (min-width: 70rem) {
				right: 6rem;
				bottom: 6rem;
				height: 13rem;
				width: 46rem;
			}
		}
	}
		
	&.bh {
		background-color: #827d00;

		a:before {
			content: "";
			display: block;
			position: absolute;
			bottom: -6rem;
			right: 0;
			height: 41rem;
			width: 48rem;
			background-image: url("../work/images/bh-phone.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 0;
			filter: drop-shadow(-10px 20px 10px rgba(0,0,0,0.35));

			@media all and (min-width: 70rem) {
				right: -10rem;
				top: 50%;
				transform: translateY(-50%);
				height: 47rem;
				width: 55rem;
			}

			@media all and (min-width: 1300px) {
				right: -20rem;
				top: 50%;
				transform: translateY(-50%);
				height: 67rem;
				width: 79rem;
			}
		}
	}

	&.blss {
		background-color: #FCF9F6;

		.project_desc {
			position: relative;
			color: #444;
			h2 { margin-bottom: 1.5rem; }
			width: 75%;
			text-shadow: none;
		}


		a:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 8rem;
			height: 100vh;
			width: 80rem;
			background-image: url(../work/images/bliss-screens.png);
			background-position: left top;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 0;
			

			@media all and (min-width: 700px) {
				top: 0;
				left: auto;
				right: -25%;
				background-image: url(../work/images/bliss-screens.png);
				background-position: center top;
				filter: drop-shadow(-3px 10px 3px rgba(0,0,0,0.15));
			}
		}
	}

	&.dmpa {
		background-repeat: no-repeat;
		background-image: url("../work/images/dmpa-bg.jpg");
		background-position: center;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: black;
			mix-blend-mode: soft-light;
			opacity: 0.75;
			z-index: 0;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: black;
			opacity: 0.35;
			z-index: 0;
		}
	}
}