/* ==========================================================================
 CSS Reset
 ========================================================================== */
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc; }

button, input, select, textarea {
  margin: 0;
  outline: 0 !important; }

button, input, select {
  vertical-align: middle; }

/* ==========================================================================
 Global Styling
 ========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  height: 100%;
  height: 100vh;
  font-size: 62.5%; }

body {
  min-height: 100%;
  font-size: 2.4rem;
  font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.625;
  font-weight: 400;
  background-color: #085ad5;
  color: #EEE;
  /* smooths type in all browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

img {
  border: 0;
  display: block;
  max-width: 100%; }

h1, h2, h3 {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 0 0.5rem 0;
  padding: 0;
  line-height: 1.125;
  font-weight: 800; }

h1 {
  font-size: 4.8rem;
  margin-top: 2rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.25rem;
  line-height: 1.25; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 2rem; }

sup, sub {
  font-size: 0.7rem; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

b, strong {
  font-weight: bold;
  font-weight: 600; }

i, em {
  font-style: italic; }

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #DDD; }

svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block; }

/* WebKit/Blink Browsers */
::-moz-selection {
  background: rgba(20, 170, 250, 0.75);
  color: #fff; }
::selection {
  background: rgba(20, 170, 250, 0.75);
  color: #fff; }

/* Gecko Browsers */
::-moz-selection {
  background: rgba(0, 0, 255, 0.5);
  color: #fff; }

/* ==========================================================================
 Container
 ========================================================================== */
.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1.5rem;
  max-width: 800px; }

/* ==========================================================================
 Main Content Styling
 ========================================================================== */
#illustration {
  width: 10rem;
  display: block;
  margin: 0 auto; }
  #illustration ellipse, #illustration path {
    fill: rgba(0, 0, 0, 0.5); }
  #illustration #wink_1 {
    opacity: 0; }

h1, .js-typed_titles {
  text-align: center; }

main section {
  padding: 2rem;
  overflow: hidden; }
  main section:not(:first-of-type) {
    margin-top: 1.5rem; }

main ol,
main ul {
  margin: 0;
  padding: 0 0 0 2rem; }
  main ol li,
  main ul li {
    margin-bottom: 1.5rem; }

main p {
  margin: 1rem 0 2rem 0;
  float: left;
  width: 100%; }

.social_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.5); }
  .social_media li {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    vertical-align: baseline;
    margin: 0; }
  .social_media a {
    display: block;
    text-decoration: none;
    border: none;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    position: relative; }
    .social_media a svg, .social_media a path {
      fill: #EEE;
      -webkit-transition: all 150ms linear;
              transition: all 150ms linear; }
    .social_media a[data-platform="linkedin"]:hover, .social_media a[data-platform="linkedin"]:focus {
      background-color: #0077b5; }
    .social_media a[data-platform="twitter"]:hover, .social_media a[data-platform="twitter"]:focus {
      background-color: #1da1f2; }
    .social_media a[data-platform="codepen"]:hover, .social_media a[data-platform="codepen"]:focus {
      background-color: #222; }
    .social_media a[data-platform="github"]:hover, .social_media a[data-platform="github"]:focus {
      background-color: #111; }
    .social_media a[data-platform="dribbble"]:hover, .social_media a[data-platform="dribbble"]:focus {
      background-color: #ea4c89; }
    .social_media a[data-platform="pinterest"]:hover, .social_media a[data-platform="pinterest"]:focus {
      background-color: #bd081c; }
    .social_media a[data-platform="email"]:hover, .social_media a[data-platform="email"]:focus {
      background-color: #ecb731; }

main a {
  text-decoration: none;
  color: #E5EA2A;
  font-weight: 700;
  border-bottom: 1px dotted transparent;
  -webkit-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out; }
  main a:hover, main a:focus {
    color: #fff;
    border-color: #fff; }

/* ==========================================================================
Typing Titles
 ========================================================================== */
.js-typed_titles,
.typed-cursor {
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-family: 'Work Sans', 'Helvetica Neue', sans-serif; }

.js-typed_titles {
  line-height: 1.125; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* ==========================================================================
Viewport Larger Than 550 pixels)
========================================================================== */
@media all and (min-width: 550px) {
  #illustration {
    float: left;
    margin: 0 2rem 0 0; }

  h1, .js-typed_titles {
    text-align: left; }

  .social_media li {
    height: 6rem;
    width: 6rem; }

  .bio_section p:first-of-type {
    margin-top: 2rem; } }
/* ==========================================================================
Viewport Larger Than 960 pixels)
========================================================================== */
@media all and (min-width: 960px) {
  .js-typed_titles,
  .typed-cursor {
    font-size: 3.8rem; }

  main {
    padding-top: 4rem; }

  .social_media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 6rem; }
    .social_media li a {
      padding: 1.75rem; }

  #illustration {
    -webkit-transition: -webkit-transform 300ms ease-in-out;
            transition: transform 300ms ease-in-out;
    width: 40rem;
    float: right;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: "FlipH"; }

  main section {
    padding-left: 10rem;
    padding-right: 3rem;
    overflow: visible; }

  main p {
    float: none; }

  .bio_section p:first-of-type {
    margin-top: 1rem; }

  /* ==========================================================================
  Wink Animation -- Only happens on screens larger than 960px
   ========================================================================== */
  @keyframes nod_animate {
    0% {
      -webkit-transform: rotate(0deg) scaleX(-1);
              transform: rotate(0deg) scaleX(-1); }
    50% {
      -webkit-transform: rotate(-7deg) scaleX(-1);
              transform: rotate(-7deg) scaleX(-1); }
    100% {
      -webkit-transform: rotate(0deg) scaleX(-1);
              transform: rotate(0deg) scaleX(-1); } }
  @-webkit-keyframes nod_animate {
    0% {
      -webkit-transform: rotate(0deg) scaleX(-1);
              transform: rotate(0deg) scaleX(-1); }
    50% {
      -webkit-transform: rotate(-7deg) scaleX(-1);
              transform: rotate(-7deg) scaleX(-1); }
    100% {
      -webkit-transform: rotate(0deg) scaleX(-1);
              transform: rotate(0deg) scaleX(-1); } }
  @keyframes eye_animate {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-webkit-keyframes eye_animate {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes wink_animate {
    0% {
      opacity: 0; }
    60% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  @-webkit-keyframes wink_animate {
    0% {
      opacity: 0; }
    60% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  #illustration.winky_face {
    -webkit-animation: nod_animate 1000ms ease-in-out 1;
    animation: nod_animate 1000ms ease-in-out 1; }
    #illustration.winky_face #eye_1 {
      -webkit-animation: eye_animate 750ms 1;
      animation: eye_animate 750ms 1; }
    #illustration.winky_face #wink_1 {
      -webkit-animation: wink_animate 500ms 1;
      animation: wink_animate 500ms 1; } }
