*, *:before, *:after {
  box-sizing: border-box; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0; }

button, input, select, textarea {
  margin: 0; }

button, input, select {
  vertical-align: middle; }

html {
  height: 100%;
  height: 100vh;
  font-size: 62.5%; }

body {
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Roboto Slab", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.625;
  font-weight: 400;
  background-color: #FFF;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  border: 0;
  display: block;
  max-width: 100%; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 3.8rem;
  width: 100%;
  line-height: 1.125;
  margin: 1.5rem 0;
  font-family: "Permanent Marker", sans-serif;
  text-align: center; }

h2 {
  font-size: 3rem;
  font-family: "Permanent Marker", sans-serif;
  text-transform: uppercase;
  line-height: 1.125; }

h3 {
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.125; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2.1rem; }

h6 {
  font-size: 1.8rem; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

b, strong {
  font-weight: bold;
  font-weight: 600; }

i, em {
  font-style: italic; }

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #DDD; }

header,
main,
footer {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 100rem; }

svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block; }

.text_box {
  display: block;
  max-width: 70rem;
  margin: 6rem auto; }
  .text_box.page_desc {
    text-align: center; }
  .text_box a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 0 3px;
    color: #333; }
    .text_box a:after {
      content: "";
      display: block;
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      background-color: #0083a5;
      -webkit-transition: height 175ms ease-in-out;
      transition: height 175ms ease-in-out; }
    .text_box a svg {
      display: inline-block;
      vertical-align: middle;
      max-width: 2rem;
      height: 2rem; }
    .text_box a:hover:after, .text_box a:focus:after {
      height: 90%; }

*[aria-hidden="true"] {
  opacity: 0; }

*[aria-hidden="false"] {
  opacity: 1; }

*[data-state="in-progress"] {
  display: none !important;
  visibility: hidden !important; }

p {
  margin: 0 0 1.5rem 0; }
  p + p {
    margin: 1.5rem 0; }

ul, ol {
  list-style-position: inside;
  margin: 0 0 1.5rem 0; }

::-moz-selection {
  background: #2db59e;
  color: #FFF; }

::selection {
  background: #2db59e;
  color: #FFF; }

::-moz-selection {
  background: #2db59e;
  color: #FFF; }

main *[data-visible="true"],
aside *[data-visible="true"] {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: 800ms ease slide-from-bottom both;
          animation: 800ms ease slide-from-bottom both; }
  main *[data-visible="true"]:nth-child(1n),
  aside *[data-visible="true"]:nth-child(1n) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
    z-index: 0.5; }
  main *[data-visible="true"]:nth-child(2n),
  aside *[data-visible="true"]:nth-child(2n) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
    z-index: 1; }
  main *[data-visible="true"]:nth-child(3n),
  aside *[data-visible="true"]:nth-child(3n) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    z-index: 1.5; }
  main *[data-visible="true"]:nth-child(4n),
  aside *[data-visible="true"]:nth-child(4n) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
    z-index: 2; }
  main *[data-visible="true"]:nth-child(5n),
  aside *[data-visible="true"]:nth-child(5n) {
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
    z-index: 2.5; }
  main *[data-visible="true"]:nth-child(6n),
  aside *[data-visible="true"]:nth-child(6n) {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
    z-index: 3; }
  main *[data-visible="true"]:nth-child(7n),
  aside *[data-visible="true"]:nth-child(7n) {
    -webkit-animation-delay: 1400ms;
            animation-delay: 1400ms;
    z-index: 3.5; }
  main *[data-visible="true"]:nth-child(8n),
  aside *[data-visible="true"]:nth-child(8n) {
    -webkit-animation-delay: 1600ms;
            animation-delay: 1600ms;
    z-index: 4; }
  main *[data-visible="true"]:nth-child(9n),
  aside *[data-visible="true"]:nth-child(9n) {
    -webkit-animation-delay: 1800ms;
            animation-delay: 1800ms;
    z-index: 4.5; }
  main *[data-visible="true"]:nth-child(10n),
  aside *[data-visible="true"]:nth-child(10n) {
    -webkit-animation-delay: 2000ms;
            animation-delay: 2000ms;
    z-index: 5; }
  main *[data-visible="true"] + main *[data-visible="true"],
  aside *[data-visible="true"] + main *[data-visible="true"], main *[data-visible="true"] +
  aside *[data-visible="true"],
  aside *[data-visible="true"] +
  aside *[data-visible="true"] {
    -webkit-animation-delay: 0;
            animation-delay: 0; }

#work_links[data-visible="true"] #work_list li {
  -webkit-animation: 800ms ease slide-from-bottom both;
          animation: 800ms ease slide-from-bottom both; }
  #work_links[data-visible="true"] #work_list li:nth-child(1n) {
    -webkit-animation-delay: 80ms;
            animation-delay: 80ms;
    z-index: 0.25; }
  #work_links[data-visible="true"] #work_list li:nth-child(2n) {
    -webkit-animation-delay: 160ms;
            animation-delay: 160ms;
    z-index: 0.5; }
  #work_links[data-visible="true"] #work_list li:nth-child(3n) {
    -webkit-animation-delay: 240ms;
            animation-delay: 240ms;
    z-index: 0.75; }
  #work_links[data-visible="true"] #work_list li:nth-child(4n) {
    -webkit-animation-delay: 320ms;
            animation-delay: 320ms;
    z-index: 1; }
  #work_links[data-visible="true"] #work_list li:nth-child(5n) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
    z-index: 1.25; }
  #work_links[data-visible="true"] #work_list li:nth-child(6n) {
    -webkit-animation-delay: 480ms;
            animation-delay: 480ms;
    z-index: 1.5; }
  #work_links[data-visible="true"] #work_list li:nth-child(7n) {
    -webkit-animation-delay: 560ms;
            animation-delay: 560ms;
    z-index: 1.75; }
  #work_links[data-visible="true"] #work_list li:nth-child(8n) {
    -webkit-animation-delay: 640ms;
            animation-delay: 640ms;
    z-index: 2; }
  #work_links[data-visible="true"] #work_list li:nth-child(9n) {
    -webkit-animation-delay: 720ms;
            animation-delay: 720ms;
    z-index: 2.25; }
  #work_links[data-visible="true"] #work_list li:nth-child(10n) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
    z-index: 2.5; }
  #work_links[data-visible="true"] #work_list li:nth-child(11n) {
    -webkit-animation-delay: 880ms;
            animation-delay: 880ms;
    z-index: 2.75; }
  #work_links[data-visible="true"] #work_list li:nth-child(12n) {
    -webkit-animation-delay: 960ms;
            animation-delay: 960ms;
    z-index: 3; }
  #work_links[data-visible="true"] #work_list li:nth-child(13n) {
    -webkit-animation-delay: 1040ms;
            animation-delay: 1040ms;
    z-index: 3.25; }
  #work_links[data-visible="true"] #work_list li:nth-child(14n) {
    -webkit-animation-delay: 1120ms;
            animation-delay: 1120ms;
    z-index: 3.5; }
  #work_links[data-visible="true"] #work_list li:nth-child(15n) {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
    z-index: 3.75; }
  #work_links[data-visible="true"] #work_list li:nth-child(16n) {
    -webkit-animation-delay: 1280ms;
            animation-delay: 1280ms;
    z-index: 4; }
  #work_links[data-visible="true"] #work_list li:nth-child(17n) {
    -webkit-animation-delay: 1360ms;
            animation-delay: 1360ms;
    z-index: 4.25; }
  #work_links[data-visible="true"] #work_list li:nth-child(18n) {
    -webkit-animation-delay: 1440ms;
            animation-delay: 1440ms;
    z-index: 4.5; }
  #work_links[data-visible="true"] #work_list li:nth-child(19n) {
    -webkit-animation-delay: 1520ms;
            animation-delay: 1520ms;
    z-index: 4.75; }
  #work_links[data-visible="true"] #work_list li:nth-child(20n) {
    -webkit-animation-delay: 1600ms;
            animation-delay: 1600ms;
    z-index: 5; }

@-webkit-keyframes slide-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slide-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 600px) {
    nav {
      flex-wrap: nowrap; } }
  nav ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
            flex: 0 1 auto;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    nav ul li {
      -webkit-box-flex: 1;
              flex: 1 1 auto;
      text-align: center;
      font-size: 1.6rem;
      display: inline-block;
      line-height: 1;
      vertical-align: middle; }
    nav ul a {
      text-decoration: none;
      font-weight: 600;
      padding: 0 1.5rem;
      display: block;
      line-height: 2; }

.social_media {
  display: block;
  text-align: center; }
  .social_media li {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-top: 0; }
  .social_media a {
    display: block;
    padding: 0 1rem; }
    .social_media a svg {
      max-width: 2rem;
      max-height: 2rem; }

#email_link {
  display: inline-block; }
  #email_link svg {
    width: 2.85rem;
    height: 2.85rem;
    max-width: 2.85rem;
    max-height: 2.85rem;
    margin-bottom: -3px; }

#ill .group {
  padding: 6rem 0;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD; }
  #ill .group:nth-child(2) {
    padding-top: 2rem;
    border-top: none; }
  #ill .group:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  @media only screen and (min-width: 600px) {
    #ill .group {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-width: 50%;
         -moz-column-width: 50%;
              column-width: 50%;
      -webkit-column-rule-width: 1rem;
         -moz-column-rule-width: 1rem;
              column-rule-width: 1rem;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      -moz-column-break-inside: avoid img;
           break-inside: avoid img;
        break-inside-width: 100%; } }
  #ill .group h2 {
    font-size: 5.4rem;
    margin: 0 0 3rem 0;
    line-height: 1; }

#ill .ill_description {
  display: inline-block; }
  #ill .ill_description:nth-child(2) {
    padding: 0 0 3rem 0; }
  #ill .ill_description:last-child {
    padding-top: 0; }
  #ill .ill_description h2 {
    margin-bottom: 1rem; }
  #ill .ill_description p:only-of-type {
    margin: 0; }

#ill img {
  margin-bottom: 3rem; }
  #ill img:last-child {
    margin: 0; }

#about {
  position: relative; }
  @media only screen and (min-width: 600px) {
    #about {
      width: 100%; } }

#bio {
  padding: 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 1.8rem;
  font-weight: 300; }
  #bio p {
    margin: 3rem 0; }
    #bio p:first-of-type {
      margin-top: 0;
      font-size: 2.4rem; }
  #bio a {
    text-decoration: none;
    font-weight: 700;
    position: relative;
    padding: 0 3px; }

#work_list {
  list-style: none;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-column-width: 50%;
     -moz-column-width: 50%;
          column-width: 50%;
  column-break-inside: avoid;
  padding: 1rem;
  margin: 6rem 0 0 0; }
  @media only screen and (min-width: calc(600px + 90px)) {
    #work_list {
      -webkit-column-width: 33.3333%;
         -moz-column-width: 33.3333%;
              column-width: 33.3333%;
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3; } }
  #work_list img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 1rem 0;
    background: white;
    border-radius: 8px; }

#work_logos {
  margin: 6rem 0;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    #work_logos {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
              flex-direction: row-reverse;
      margin: 12rem 0;
      text-align: left; } }

#logos_list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  @media only screen and (min-width: 600px) {
    #logos_list {
      width: 50%;
      margin: 0 3rem 0 0;
      -webkit-box-flex: 0;
              flex: 0 0 50%; } }
  #logos_list li {
    -webkit-box-flex: 0;
            flex: 0 0 calc(33.333% - 1.5rem);
    margin: 0.75rem;
    width: calc(33.333% - 1.5rem);
    position: relative;
    opacity: 0.65; }
    @media only screen and (min-width: 600px) {
      #logos_list li {
        -webkit-box-flex: 0;
                flex: 0 0 calc(33.333% - 3rem);
        margin: 1rem;
        width: calc(33.333% - 3rem); } }
    #logos_list li:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background-color: aliceblue;
      z-index: 2;
      mix-blend-mode: color; }
    #logos_list li img {
      position: relative; }

#testimonials {
  padding: 6rem 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    #testimonials {
      text-align: left; } }
  #testimonials h2 {
    margin-bottom: 3rem;
    text-align: center; }
    @media only screen and (min-width: 600px) {
      #testimonials h2 {
        margin-bottom: 6rem; } }
    @media only screen and (min-width: 900px) {
      #testimonials h2 {
        text-align: left; } }

.testimonial {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }
  .testimonial img {
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    margin: 0 0 3rem 0; }
  .testimonial .testimonial_text {
    font-size: 2.1rem;
    font-style: italic;
    line-height: 1.325;
    font-weight: 300; }
  .testimonial .credit {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700; }
  @media only screen and (min-width: 600px) {
    .testimonial {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; }
      .testimonial:nth-of-type(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
                flex-direction: row-reverse;
        margin-top: 6rem; }
        .testimonial:nth-of-type(even) img {
          margin-right: 0;
          margin-left: 3rem; }
      .testimonial img {
        margin: 0 3rem 0 0; }
      .testimonial .credit {
        text-align: right; } }
