*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0; }

button, input, select, textarea {
  margin: 0; }

button, input, select {
  vertical-align: middle; }

html {
  height: 100%;
  height: 100vh;
  font-size: 62.5%; }

body {
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Assistant", sans-serif;
  line-height: 1.625;
  font-weight: 400;
  background-color: #FFF;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  border: 0;
  display: block;
  max-width: 100%; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 4.2rem;
  font-family: "Permanent Marker", sans-serif;
  width: 100%;
  line-height: 1.125;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 2.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.125; }

h3 {
  font-size: 2.1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.125; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2.1rem; }

h6 {
  font-size: 1.8rem; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

b, strong {
  font-weight: bold;
  font-weight: 600; }

i, em {
  font-style: italic; }

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #DDD; }

header,
main,
footer {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 100rem; }

svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block; }

.text_box {
  display: block;
  max-width: 70rem;
  margin: 6rem auto; }
  .text_box.page_desc {
    text-align: center; }
  .text_box a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 0 3px;
    color: #333; }
    .text_box a:after {
      content: "";
      display: block;
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      background-color: #0083a5;
      -webkit-transition: height 175ms ease-in-out;
      -o-transition: height 175ms ease-in-out;
      transition: height 175ms ease-in-out; }
    .text_box a svg {
      display: inline-block;
      vertical-align: middle;
      max-width: 2rem;
      height: 2rem; }
    .text_box a:hover:after, .text_box a:focus:after {
      height: 90%; }

*[aria-hidden="true"] {
  opacity: 0; }

*[aria-hidden="false"] {
  opacity: 1; }

*[data-state="in-progress"] {
  display: none !important;
  visibility: hidden !important; }

p {
  margin: 0 0 1.5rem 0; }
  p + p {
    margin: 1.5rem 0; }

ul, ol {
  list-style-position: inside;
  margin: 0 0 1.5rem 0; }

::-moz-selection {
  background: #2db59e;
  color: #FFF; }

::selection {
  background: #2db59e;
  color: #FFF; }

::-moz-selection {
  background: #2db59e;
  color: #FFF; }

main *[data-visible="true"],
aside *[data-visible="true"] {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: 800ms ease slide-from-bottom both;
          animation: 800ms ease slide-from-bottom both; }
  main *[data-visible="true"]:nth-child(1n),
  aside *[data-visible="true"]:nth-child(1n) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
    z-index: 0.5; }
  main *[data-visible="true"]:nth-child(2n),
  aside *[data-visible="true"]:nth-child(2n) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
    z-index: 1; }
  main *[data-visible="true"]:nth-child(3n),
  aside *[data-visible="true"]:nth-child(3n) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    z-index: 1.5; }
  main *[data-visible="true"]:nth-child(4n),
  aside *[data-visible="true"]:nth-child(4n) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
    z-index: 2; }
  main *[data-visible="true"]:nth-child(5n),
  aside *[data-visible="true"]:nth-child(5n) {
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
    z-index: 2.5; }
  main *[data-visible="true"]:nth-child(6n),
  aside *[data-visible="true"]:nth-child(6n) {
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
    z-index: 3; }
  main *[data-visible="true"]:nth-child(7n),
  aside *[data-visible="true"]:nth-child(7n) {
    -webkit-animation-delay: 1400ms;
            animation-delay: 1400ms;
    z-index: 3.5; }
  main *[data-visible="true"]:nth-child(8n),
  aside *[data-visible="true"]:nth-child(8n) {
    -webkit-animation-delay: 1600ms;
            animation-delay: 1600ms;
    z-index: 4; }
  main *[data-visible="true"]:nth-child(9n),
  aside *[data-visible="true"]:nth-child(9n) {
    -webkit-animation-delay: 1800ms;
            animation-delay: 1800ms;
    z-index: 4.5; }
  main *[data-visible="true"]:nth-child(10n),
  aside *[data-visible="true"]:nth-child(10n) {
    -webkit-animation-delay: 2000ms;
            animation-delay: 2000ms;
    z-index: 5; }
  main *[data-visible="true"] + main *[data-visible="true"],
  aside *[data-visible="true"] + main *[data-visible="true"], main *[data-visible="true"] +
  aside *[data-visible="true"],
  aside *[data-visible="true"] +
  aside *[data-visible="true"] {
    -webkit-animation-delay: 0;
            animation-delay: 0; }

@-webkit-keyframes slide-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slide-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 3rem; }

#logo {
  display: inline-block;
  margin-right: -2rem;
  font-size: 3.2rem;
  font-family: "Permanent Marker", sans-serif;
  line-height: 1.125;
  text-decoration: none;
  color: #333; }
  #logo #tagline {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    padding: 1rem 0 0 0; }

nav {
  line-height: 1; }

#site_menu {
  position: fixed;
  top: 0;
  opacity: 1 !important;
  left: 100%;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out, left 300ms ease-in-out;
  transition: transform 300ms ease-in-out, left 300ms ease-in-out;
  transition: transform 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  background-color: rgba(0, 131, 165, 0.95);
  text-align: center;
  padding: 25vh 1.5rem;
  font-size: 2.1rem; }
  #site_menu li {
    margin-bottom: 3rem; }
    #site_menu li a {
      display: block;
      font-family: "Permanent Marker", sans-serif;
      color: #FFF;
      font-size: 3.2rem;
      text-decoration: none;
      padding: 1.5rem; }

.cmn-toggle-switch {
  display: block;
  position: relative;
  z-index: 10000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }
  .cmn-toggle-switch:hover, .cmn-toggle-switch:focus, .cmn-toggle-switch:active {
    background-color: transparent; }
  .cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 22px;
    left: 10px;
    right: 10px;
    height: 2px;
    background: #333;
    border-radius: 10px; }
    .cmn-toggle-switch span:before, .cmn-toggle-switch span:after {
      position: absolute;
      display: block;
      border-radius: 10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #333;
      content: ""; }
    .cmn-toggle-switch span:before {
      top: -10px; }
    .cmn-toggle-switch span:after {
      bottom: -10px; }
  .cmn-toggle-switch span {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .cmn-toggle-switch span:before {
      -webkit-transform-origin: top left;
          -ms-transform-origin: top left;
              transform-origin: top left;
      -webkit-transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
      transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, width 0.3s, top 0.3s;
      transition: transform 0.3s, width 0.3s, top 0.3s;
      transition: transform 0.3s, width 0.3s, top 0.3s, -webkit-transform 0.3s; }
    .cmn-toggle-switch span:after {
      -webkit-transform-origin: bottom left;
          -ms-transform-origin: bottom left;
              transform-origin: bottom left;
      -webkit-transition: width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
      transition: width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, width 0.3s, bottom 0.3s;
      transition: transform 0.3s, width 0.3s, bottom 0.3s;
      transition: transform 0.3s, width 0.3s, bottom 0.3s, -webkit-transform 0.3s; }

/* active state, i.e. menu open */
nav[data-state="open"] .cmn-toggle-switch span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #FFF; }
  nav[data-state="open"] .cmn-toggle-switch span:before, nav[data-state="open"] .cmn-toggle-switch span:after {
    width: 50%; }
  nav[data-state="open"] .cmn-toggle-switch span:before {
    top: 0;
    -webkit-transform: translateX(-3px) translateY(1px) rotate(-45deg);
        -ms-transform: translateX(-3px) translateY(1px) rotate(-45deg);
            transform: translateX(-3px) translateY(1px) rotate(-45deg);
    background-color: #FFF; }
  nav[data-state="open"] .cmn-toggle-switch span:after {
    bottom: 0;
    -webkit-transform: translateX(-3px) translateY(-1px) rotate(45deg);
        -ms-transform: translateX(-3px) translateY(-1px) rotate(45deg);
            transform: translateX(-3px) translateY(-1px) rotate(45deg);
    background-color: #FFF; }

nav[data-state="open"] #site_menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  left: 0; }

.grid_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 600px) {
    .grid_list {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0 -1rem; } }
  .grid_list li {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
            flex: 0 1 calc(50% - 1rem);
    margin: 0 1rem 2rem 1rem; }
    .grid_list li:nth-child(odd) {
      margin-left: 0; }
    .grid_list li:nth-child(even) {
      margin-right: 0; }
    @media only screen and (min-width: 600px) {
      .grid_list li {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 calc(33.333% - 2rem);
                flex: 0 1 calc(33.333% - 2rem);
        padding: 0.5rem; }
        .grid_list li:nth-child(odd) {
          margin-left: 1rem; }
        .grid_list li:nth-child(even) {
          margin-right: 1rem; } }
    @media only screen and (min-width: 1000px) {
      .grid_list li {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 calc(25% - 2rem);
                flex: 0 1 calc(25% - 2rem); } }
  .grid_list img {
    width: 100%; }

.work_links {
  list-style: none; }
  @media only screen and (min-width: 600px) {
    .work_links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 -1rem; } }
  .work_links li {
    width: 100%;
    display: inline-block; }
    @media only screen and (min-width: 600px) {
      .work_links li {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 33.333%;
                flex: 1 1 33.333%;
        padding: 0 1rem; } }
  .work_links a {
    display: block;
    position: relative; }
    .work_links a figcaption {
      position: absolute;
      z-index: 1;
      top: 10%;
      left: -1rem;
      background: rgba(0, 0, 0, 0.75);
      padding: 1.5rem 3rem; }
      .work_links a figcaption span {
        color: #FFF;
        margin-top: -1rem;
        font-size: 4rem;
        font-family: "Permanent Marker", sans-serif;
        text-shadow: none;
        line-height: 1;
        display: block; }
    .work_links a img {
      width: 100%; }

.social_media {
  display: block;
  text-align: center; }
  .social_media li {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-top: 0; }
  .social_media a {
    display: block;
    padding: 0 1rem; }
    .social_media a svg {
      max-width: 2rem;
      max-height: 2rem; }

#email_link {
  display: inline-block; }
  #email_link svg {
    width: 2.85rem;
    height: 2.85rem;
    max-width: 2.85rem;
    max-height: 2.85rem;
    margin-bottom: -3px; }

#ill .group {
  padding: 6rem 0;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD; }
  #ill .group:nth-child(2) {
    padding-top: 2rem;
    border-top: none; }
  #ill .group:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  @media only screen and (min-width: 600px) {
    #ill .group {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-width: 50%;
         -moz-column-width: 50%;
              column-width: 50%;
      -webkit-column-rule-width: 1rem;
         -moz-column-rule-width: 1rem;
              column-rule-width: 1rem;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      -moz-column-break-inside: avoid img;
           break-inside: avoid img;
        break-inside-width: 100%; } }
  #ill .group h2 {
    font-size: 5.4rem;
    margin: 0 0 3rem 0;
    line-height: 1; }

#ill .ill_description {
  display: inline-block; }
  #ill .ill_description:nth-child(2) {
    padding: 0 0 3rem 0; }
  #ill .ill_description:last-child {
    padding-top: 0; }
  #ill .ill_description h2 {
    margin-bottom: 1rem; }
  #ill .ill_description p:only-of-type {
    margin: 0; }

#ill img {
  margin-bottom: 3rem; }
  #ill img:last-child {
    margin: 0; }

#about {
  position: relative; }
  @media only screen and (min-width: 600px) {
    #about {
      width: 100%; } }
  #about img {
    margin-bottom: 1.5rem;
    height: auto;
    width: 100%; }
  #about figcaption {
    text-align: right;
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
  #about figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    #about figure figcaption {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-bottom: 1rem;
      width: 100%; }
      @media only screen and (min-width: 600px) {
        #about figure figcaption {
          -webkit-box-ordinal-group: 1;
              -ms-flex-order: 0;
                  order: 0; } }

#bio {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1.5rem 3rem;
  color: white;
  width: 95%;
  margin: -8rem auto 0 auto;
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 600px) {
    #bio {
      position: absolute;
      top: 58vw;
      width: 75%;
      left: -1rem; } }
  @media only screen and (min-width: calc(1000px + 90px)) {
    #bio {
      left: -5rem;
      width: 58%;
      top: 50%; } }
  #bio h1 {
    font-size: 8rem;
    line-height: 0.75;
    text-shadow: none;
    margin: -5rem 0 2rem 0; }
  #bio a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    padding: 0 3px; }
    #bio a:after {
      content: "";
      display: block;
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      background-color: #0083a5;
      -webkit-transition: height 175ms ease-in-out;
      -o-transition: height 175ms ease-in-out;
      transition: height 175ms ease-in-out; }
    #bio a:hover:after, #bio a:focus:after {
      height: 90%; }

@media only screen and (min-width: 600px) {
  #more_bio {
    margin-top: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

#more_bio h2 {
  font-size: 5.4rem;
  margin: 0 0 3rem 0;
  line-height: 1; }
  @media only screen and (min-width: 600px) {
    #more_bio h2 {
      text-align: right;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 40%;
              flex: 0 1 40%;
      min-width: 40%;
      margin: -0.2rem 0 0 0; } }

@media only screen and (min-width: 600px) {
  #more_bio #flex_item_wrapper {
    margin-left: 3rem; } }

#work a[data-platform="dribbble"] {
  color: #ea4c89; }
  #work a[data-platform="dribbble"]:after {
    background-color: #fbc7dd; }
  #work a[data-platform="dribbble"] svg {
    fill: #ea4c89;
    stroke-width: 0.2px;
    stroke-color: #ea4c89; }
