#about {
	position: relative;
	@media only screen and (min-width: $mq_medium) {
		width: 100%;
	}
}

#bio {
	padding: 1.5rem 0;
	margin: 0 auto;
	position: relative;
	text-align: center;
	z-index: 2;


	@media only screen and (min-width: $mq_medium) {

	}

	@media only screen and (min-width: calc(#{$mq_large} + 90px)) {
	
	}

	h1 {
		margin: 2rem 0;
	}

	a {
		text-decoration: none;
		font-weight: $f_bold;
		font-size: 2rem;
		position: relative;
		padding: 0 3px;
	}
}

#work_list {
	list-style: none;
	column-count: 2;
	column-gap: 1rem;
	column-width: 50%;
	column-break-inside : avoid;
	padding: 1rem;
	margin: 6rem 0 0 0;
	
	@media only screen and (min-width: calc(#{$mq_medium} + 90px)) {
		column-width: 33.3333%;
		column-count: 3;
	}
	


	img {
		max-width: 100%;
		max-height: 100%;
		margin: 0 0 1rem 0;
		background: red;
		border-radius: 8px;
	}
}

#work_logos {
	margin: 12rem 0;
	@media only screen and (min-width: $mq_medium) {
		display: flex;
		flex-direction: row-reverse;
	}
}

#logos_list {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0 3rem 0 0;
	flex: 0 0 50%;

	@media only screen and (min-width: $mq_medium) {
		width: 50%;
	}

	li {
		flex: 0 0 calc(33.333% - 3rem);
		margin: 1rem;
		width: calc(33.333% - 3rem);
		position: relative;
		opacity: 0.65;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			height: 100%;
			width: 100%;
			background-color: aliceblue;
			z-index: 2;
			mix-blend-mode: color;
		}

		img {
			position: relative;
			
		}
	}
}

#testimonials {
	padding: 6rem 0;
	border-top: 1px solid $c_ltgrey;
	border-bottom: 1px solid $c_ltgrey;

	h2 { margin-bottom: 6rem; }
}

.testimonial {
	display: flex;
	align-items: center;

	&:nth-of-type(even) {
		flex-direction: row-reverse;
		margin-top: 6rem;

		img {
			margin-right: 0;
			margin-left: 3rem;
		 }
	}

	img {
		border-radius: 100%;
		height: 15rem;
		width: 15rem;
		margin-right: 3rem;
	}

	.testimonial_text {
		font-size: 2.1rem;
		font-style: italic;
		line-height: 1.25;
	}

	.credit {
		text-align: right;
		font-size: 1.6rem;
		font-style: normal;
	}
}