h1, h2 { text-align: center; }

#profile_photo {
	max-width: 45rem;
	margin: 0 auto;
	position: relative;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
		background-image: url('https://images.unsplash.com/photo-1487309078313-fad80c3ec1e5');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
}

#intro h1 {
	span {
		display: block;
		&:last-child { font-size: 1.8rem; }
	}
}

section {
	position: relative;
	margin-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 10rem;
		border-bottom: 1px solid $c_ltgrey;
	}

	&:first-child { margin-top: 0; }

	p, ul {
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
	}

	ul {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		padding-left: 1.5rem;
	}
}

a[href*="/resume"] {
	display: block;
	text-align: center;
}

.social_media {
	padding: 0;
	margin: 3rem auto;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;

	li {
		display: inline-block;
		width: 4.2rem;
		height: 4.2rem;
		flex: 0 0 4.2rem;
		margin: 0 0.75rem;
	}

	a {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		border: 1px solid $c_black;
		transition: all 150ms ease-in-out;

		&:hover,
		&:focus {
			svg, svg path { fill: $c_white; }
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			max-width: 1.8rem;
			transition: all 150ms ease-in-out;
		}

		&[data-platform="dribbble"] {
			&:hover,
			&:focus {
				border-color: #ea4c89;
				background-color: #ea4c89;
			}
		}

		&[data-platform="linkedin"] {
			&:hover,
			&:focus {
				border-color: #0077b5;
				background-color: #0077b5;
			}
		}

		&[data-platform="twitter"] {
			&:hover,
			&:focus {
				border-color: #1da1f2;
				background-color: #1da1f2;
			}
		}

		&[data-platform="github"] {
			&:hover,
			&:focus {
				border-color: #6e5494;
				background-color: #6e5494;
			}
		}

		&[data-platform="codepen"] {
			&:hover,
			&:focus {
				border-color: #555555;
				background-color: #555555;
			}
		}
	}
}