nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  @media only screen and (min-width: $mq_medium) {
    flex-wrap: nowrap;
  }
    ul {
    	display: flex;
      flex: 0 1 auto;
    	justify-content: center;
    	align-items: flex-start;
      padding: 0;
      margin: 0;
      font-family: $f_system;

    li {
      flex: 1 1 auto;
      text-align: center;
      font-size: 1.6rem;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      font-weight: $f_bold;
      padding: 0 1.5rem;
      display: block;
      line-height: 2;
    }
  }

}