<footer>
    <nav aria-label="Social Media">
        <ul class="social_media" role="list">
            <li>
                <a href="https://dribbble.com/rcyou" data-platform="dribbble" target="_blank" rel="noopener" aria-label="Follow Ryan on Dribbble">
                    <svg  focusable="false">
                        <use xlink:href="#dribbble_icon"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://pinterest.com/rcyou" target="_blank" rel="noopener" aria-label="Follow Ryan on Pinterest">
                    <svg  focusable="false">
                        <use xlink:href="#pinterest_icon"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://youtube.com/c/ryanyoung-rcyou" target="_blank" rel="noopener" aria-label="Follow Ryan on YouTube">
                    <svg  focusable="false">
                        <use xlink:href="#youtube_icon"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</footer>