<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ seoTitle | safe }}</title>
<meta name="description" content="{{ metaDescription }}">
<link rel="canonical" href="https://ryancyoung.com{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://ryancyoung.com{{ page.url }}">
<meta property="og:title" content="{{ seoTitle | safe }}">
<meta property="og:description" content="{{ metaDescription }}">

<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="css/styles.css">  
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">