<header>
	<h1>Ryan Young</h1>
	<section id="about">
	    <div id="bio">
	        <p>In his free time, Ryan makes various forms of traditional and digital art for himself and sometimes for businesses and local organizations.</p>
	        <p>Looking for <a href="https://ux.ryancyoung.com">UX & product design work</a>? I keep a separate portfolio over at <b>ux.ryancyoung.com</b></p>
	    </div>
	</section>
</header>